/* CSS - position absolue*/

.verte{
    position: relative;
    background-color: #00ff00;
    width: 15em;
    padding-top: 5em;
    padding-right: 7em;
}
.jaune{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #ff0;
    width: 4em;
}

.consect{
    color: #ff0000;
}