body {
  font-family: Arial, Helvetica, sans-serif;
}
.menufixe {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 1px solid #000000;
  position: absolute;
  /* niveau d'empilement (calque) */
  z-index: 2;
  text-align: center;
  background-color: #281f7a;
  /* spacement entre les lignes */
  line-height: 2em;
}

html > body .menufixe {
  position: fixed;
}
.content {
  z-index: 1;
  padding-top: 3em;
}
/* navigation */

ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 4px;
}
