/* CSS */
/* CONTENT CENTRAL */
.content {
    width: 65%;
    border: 1px solid #000000;
    padding: 1em 1%;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* MENU DROITE */
  .menu {
    position: absolute;
    top: 1em;
    right: 1%;
    border: 1px solid #000000;
    padding: 1em;
    width: 20%;
  }
  html > body .menu {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* NAVIGATION */
  .navigation {
    background-color: coral;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
  }
  /* Le content & le menu */
  .content,
  .menu {
    background-color: rgb(245, 241, 203);
  }
  